.stepperContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepperContainer a img, .stepperContainer span img {
  width: 20px;
  margin-top: 4px;
}

.stepperContainer > div > div > div:first-child, .stepperContainer > div > div > div:last-child {
  width: 5% !important;
}