.container {
  width: 300px;
  margin: 0 auto;
  padding: 15px 0;
}
.title {
  color: #4a5568;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  padding: 80px 0px 30px;
}

.label {
  font-family: "Roboto", sans-serif;
  color: #2d3748;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
}
.inputUpload {
  display: none;
}
.label {
  cursor: pointer;
}
.fullField {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  -webkit-appearance: none;
}
.field {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  width: 100%;
  padding: 10px 12px;
}

.loginButton {
  background: #4bc0d0;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 16px;
}
.forgotPasswordButton {
  color: #4bc0d0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
}

.newAccountText {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
}

.signUpLink {
  display: flex;
  margin-top: 20px;
}
.signUp {
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
}

.error {
  color: #f56565;
  font-size: 12px;
  margin-top: 5px;
}
.errorMessage {
  text-align: center;
  font-size: 15px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
