.container {
  background: #f4f5f6;
  padding: 30px 0;
}

.main {
  width: 80%;
  margin: auto;
}

.title {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #2e384d;
  margin-bottom: 13px;
}

.formContainer {
  width: 100%;
  height: 100%;
  padding: 10px 27px;
  background: #ffffff;
  border: 1px solid #c6cad2;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.formC {
  border-bottom: 1px solid #2e384d;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 68px) repeat(2, 112px);
  grid-column-gap: 30px;
  margin-bottom: 30px;
  grid-template-areas:
    "nameList typeCertificate"
    "forButton begin"
    "institutionName final"
    "courseName uploadFiles"
    "description uploadFiles";
}

.nameList {
  grid-area: nameList;
}

.typeCertificate {
  grid-area: typeCertificate;
}

.forButton {
  grid-area: forButton;
}

.start {
  grid-area: begin;
}

.final {
  grid-area: final;
}

.institutionName {
  grid-area: institutionName;
}

.courseName {
  grid-area: courseName;
}

.description {
  grid-area: description;
}

.uploadFiles {
  grid-area: uploadFiles;
}

.fullfield {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.label {
  font-family: Noto Sans;
  color: #2d3748;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.fieldContainer {
  width: 65%;
}
.field {
  border: 1px solid #e2e8f0;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  width: 100%;
  padding: 10px 12px;
}
.error {
  color: #f56565;
  font-size: 12px;
  margin-top: 5px;
}

.buttonsC {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.buttonsContainer {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.addresseeButton {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.inputFileHidden {
  display: none;
}

.lisOfFiles {
  border: 1px solid #b3b3b4;
  border-radius: 8px;
  margin-top: 9px;
  height: 65%;
}
